.container{
    font-family:sans-serif;
}
.logo{
    width:120px;
    height:100px;
}
.logo-1{
    font-size:25px;
    font-weight:bold;
    text-transform:uppercase;
    color:rgb(252, 251, 249)
}
header{
    display:flex;
    align-items:center;
    justify-content:flex-start;
    background-color:rgb(246, 71, 7);
}
nav{
    display:flex;
    font-size:20px;
    align-self:stretch;
    align-items:center;
    gap:115px;
    margin-left:30px;
}
a:link{
    color:white;
    text-decoration: none;
    font-weight:bold;
}
a:visited{
    color:white;
    text-decoration: none;
    font-weight:bold;
}
a:hover{
background-color:white;
color:black;
text-decoration: none;
font-weight:bold;
}
.background{
    width:100%;
    height:550px;
    position:relative;
}
.information{
    position:absolute;
    top:50%;
    left:35%;
    right:10%;
    font-size:50px;
    color:rgb(253, 252, 251);
    font-weight:bold;
}
.information-1{
    position:absolute;
    top:60%;
    left:5%;
    right:5%;
    font-size:50px;
    color:rgb(253, 252, 251);
    font-weight:bold;
}
.chat-box{
    background-color: rgb(227, 6, 6);
    color:white;
    font-weight:bold;
    border-radius:40px 40px;
    font-size:18px;
    width:100px;
    height:50px;
    text-align: center;
    padding-top: 20px;
    position:absolute;
    right:0;
    bottom:0
}
.categories{
    font-weight:bold;
    font-size:20px;
}
.categories-1{
    width:300px;
    height:200px;
}
.categories-1:hover{
    transform:scale(1.2);
}

li{
    list-style:none;
}
ul{
    display:flex;
    gap:100px;
    text-align: center;
    font-weight:bold;
}
ul:hover{
    cursor:pointer;
}