*{
    padding:0;
    margin:0 auto;
    font-family: "Platypi", serif;
    background-color: #F2F6CB;
    box-sizing:border-box;
}
header{
    display:flex;
    margin:10px 30px;
    font-size:18px;
    gap:60px;
}
.Logo{
    display:flex;
    gap:10px;
}
.logo-txt{
    margin-top:10px;
    font-size:24px;
    font-weight:800;
    letter-spacing:2px;
}
.logo-img{
    height:50px;
}
nav{ 
    display:flex;
    margin-left:45%;
    gap:30px;
}
.head-1:link,
.head-1:visited{
color:grey;
text-decoration:none;
}
.head-1:hover,
.head-1:active{
    font-weight:800;
    text-shadow: 0 5px 5px rgb(0, 0, 0,0.1); 
}
.intro{
    text-align:center;
    font-size:28px;
    color:#343a40;
    margin:25px auto;
    width:100%;
}
.intro h1{
    font-size:55px;
    color:#343a40;
    letter-spacing:-0.4px;
    margin-bottom:30px;
}
.intro p{
    margin-bottom:20px;
}
.btn:link,
.btn:visited{
    background-color:#1971c2;
    color:rgb(247, 245, 245);
    text-decoration:none;
    padding:10px 20px;
}
.btn:hover,
.btn:active{
    background-color:#1c7ed6;
    color:rgb(247, 245, 245);
    text-decoration:none;
    padding:12px 22px;
}
.btn{
    border-radius:5px 5px;
    font-weight:300;
    display:inline-block;
    margin:30px 30px;
    text-align: cente r;
    font-size: 22px;
}
/*article style*/

article{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    column-gap:50px;
    margin:30px 45px;
    font-size:23px;
    line-height:1.5;
    color:#2a2e33;
    align-items:center;
    justify-content: space-between;
}
article h2{
    font-size:42px;
    margin-bottom:40px;
}
.web-img{
    width:600px;
    height:400px;
    border-radius:5px 5px;
    box-shadow:0 10px 25px 0 rgb(0, 0, 0, 0.5);
}
/*5 grid col css*/

.second-heading{
    font-size:40px;
    color:#2a2e33;
    margin:100px 45px;
    margin-bottom:60px;
}
.parts-img{
    height:80px;
    width:80px;
    fill:#343a40;
    justify-content: center;
}
.five-col{
    display:grid;
    grid-template-columns:repeat(5,1fr);
    column-gap:5px;
    margin:10px 45px;
}
.third-heading{
    font-size:24px;
    margin-top:10px;
    margin-left:15px;
}
.feature-text{
    font-size:18px;
    text-align:left;
    width:260px;
    line-height:1.5;
    margin-top:10px;
    margin-left:15px;
}
.parts{
    box-shadow: 0 10px 25px rgb(0, 0, 0, 0.3);
}
/*second-section css*/
.shop-img{
    width:600px;
    height:400px;
    border-radius:5px 5px;
    box-shadow:0 10px 25px 0 rgb(0, 0, 0, 0.5);
    margin-top:80px;
}
.section-2{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    column-gap:50px;
    margin:30px 45px;
    font-size:23px;
    line-height:1.5;
    color:#2a2e33;
    align-items:center;
    justify-content: space-between;
}
.second-sec h2{
    font-size:42px;
    margin-bottom:40px;
}
